.gridContainer{
    margin-top: 50px;
}

.itemContainer{
    display: grid;
}

.buttonRestart{
    justify-self: center;
}

.buttonPlay{
    justify-self: center;
}

.materialTable{
    width: 75%;
    justify-self: center;
}